.Project-item{
	position: relative;
	padding-bottom: 2.5rem;

	
	@mixin atSmall{
			
	}
	
	
	
		&__title{
		font-size: 1.6rem;
		font-weight: 200;
		margin-top: .7em;
		margin-bottom: .3rem;
		text-align: center;
			color: #455356;
	
		
		@mixin atSmall{
			margin-top: 1em;
			font-size: 1.875rem;
			text-align: left;
		}
	}
}