.social-icons{
	text-align: center;
	
	
	&__icon{
		
	color: #fff;
		display: inline-block;
	
		margin: .7rem;
		
		position: relative;
		cursor: pointer;
		
		&:hover{
			color: crimson;
		}
		
		.icon{
			display: block;
			position: absolute;
			
			transform: translate(-50%, -50%);
		 
		}
	}
}

